<div class="gts-comment" id="comment-<%= comment.id %>">
  <div class="gts-comment-header">
    <%= avatar(comment.user, :size => '24') %>
    <%= link_to(comment.user.fullname || comment.user.login, main_app.user_path(comment.user)) %>
    <div class="gts-comment-meta">
      <%= time_ago(comment.created_at) %>
      <% if comment.user == current_user || admin?(current_user, comment.issue.project) %>
        <%= link_to 'Edit', [:edit, comment.issue.project, comment.issue, comment], :class => 'btn btn-mini' %>
      <% end %>
    </div>
  </div>
  <div class="gts-comment-body">
    <%= render_markdown(comment.body) %>
  </div>
</div>
